
// Variable
$brand-color: #FDC52C;
$gray-color: #FAFAFA;
$dark-color: #232323;
$white-color: #FFFFFF;


// Animation

@import 'animation';

// Helpers
.u-acc-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.u-position-relative {
  position: relative;
}

// Style

.chipsjs {
  display: block;
  background: $gray-color;

  @media all and (max-width:786px) {
    position: relative;
  }

  &__ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media all and (max-width:786px) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: $gray-color;
      text-align: center;
      z-index: 1000;
    }
  }

  &__li {
    display: inline-block;

    @media all and (max-width:786px) {
      display: block;
      width: 100%;
    }

    a {
      display: inline-block;
      padding: 20px 25px;
      text-decoration: none;
      color: $dark-color;
      border-bottom: 2px solid rgba(255,255,255,0);
      box-sizing: border-box;


      &:hover, &:focus {
        outline: none !important;
      }

      &:hover {
        border-bottom: 2px solid $dark-color;
      }
    }
  }

  &__ul-nested {
    display: none;
    width: 100%;

    .chipsjs__li {
      display: block;
      float:left;
      width: 25%;
      padding-right: 15px;
      box-sizing: border-box;
      @media all and (max-width:786px) {
        width: 50%;
      }

      a {
        color: $white-color;
        border-bottom: 2px solid rgba(255,255,255,0);
        padding: 18px 0 8px;
        font-size: 1.2rem;
        box-sizing: border-box;

        &:hover, &:focus {
          border-bottom: 2px solid $white-color;
          outline: none !important;
        }
      }
    }
  }



  &__wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark-color;
    z-index: 1001;
  }

  &__menu {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media all and (max-width:786px) {
      left: auto;
      transform: translateY(-50%);
      padding: 0 25px;
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 25px;
    color: $white-color;
    font-size: 2rem;
    text-decoration: none;
    background: $dark-color;
    z-index: 2;

    .u-arrow {
      position: absolute;
      display: inline-block;
      width: 48px;
      height: 2px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: $white-color;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      z-index: 1;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 2px;
        background: $white-color;
        transform: rotate(0);
        transition: all 0.8s ease-in-out;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 2px;
        background: $white-color;
        transform: rotate(0);
        animation-delay: 0.5s;
        transition: all 0.8s ease-in-out;
      }
    }

    &:hover .u-arrow {
      opacity: 1;
      right: -80px;
    }


    &:hover .u-arrow:after {
      top: 6px;
      right: -1px;
      transform: rotate(-45deg);
    }

    &:hover .u-arrow:before {
      top: -6px;
      right: -1px;
      transform: rotate(45deg);
    }

  }

  &__close {
    position: relative;
    float: right;
    width: 95px;
    height: 75px;
    padding: 0;
    background:  none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    outline: none !important;
    z-index: 2;

    &:after, &:before{
      content: '';
      position: absolute;
      top: 35px;
      right: 35px;
      width: 25px;
      height: 2px;
      background: $white-color;
      transition: all 0.3s ease-in-out;
    }

    &:after { transform: rotate(45deg) }
    &:before { transform: rotate(-45deg) }

    &:hover:after { transform: rotate(0) }
    &:hover:before { transform: rotate(0) }

  }

  &__trigger {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    box-shadow: none;

    &-icon {
      position: relative;
      display: block;
      width: 25px;
      height: 2px;
      margin: 10px;
      background: $dark-color;

      &:after, &:before {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background: $dark-color;
        transform: rotate(0);
        transition: all 0.3s ease-in-out;
      }

      &:after {
        top: -8px;
        left: 0;
      }
      &:before {
        top: 8px;
        left: 0;
      }

      &.active {
        &:after, &:before {
          top: 0 !important;
          transform: rotate(0) !important;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover .chipsjs__trigger-icon:after,
    &:hover .chipsjs__trigger-icon:before {
      top: 0;
      transform: rotate(-90deg);
    }

    @media all and (max-width:786px) {
      display: block;
    }

  }

}